<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Create a New Recipie!</title>
</head>
<body>
  <h1>Tell Me Your Recipie!</h1>
  <form method="POST" action="/recipes">
    <p>Name:<input type="text" name="name"></p>
    <p>Ingredients:<input type="text" name="ingredients"></p>
    <p>Cooktime:<input type="text" name="cook_time"></p>
    <input type="submit" id="submit">
  </form>
</body>
</html>
